.form {
  max-width: 600px;
  width: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
  width: 100%;

  button {
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
  }

  label {
    color: rgb(204 79 100);
    font-size: 1.5rem;
  }

  input {
    padding: 6px;
    border: 2px solid rgb(190 58 102);
    background-color: rgb(255 232 232);
    color: rgb(190 58 102);
    border-radius: 10px;
    box-shadow: none;

    &:focus {
      outline: none;
      border: 2px solid rgb(204 79 100);
    }
  }
}
