.form {
  max-width: 600px;
  width: 100%;
}

.submitBtn {
  width: fit-content;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
  width: 100%;

  button {
    margin: 0 auto;
  }

  .playBtn {
    margin-top: 80px;
  }

  .extraBtn,
  .backBtn,
  .submitBtn {
    margin: 0;
  }

  .submitBtn {
    margin-left: auto;
  }

  .autofillBtn {
    margin-top: 36px;
  }

  .autofillBtn,
  .backBtn {
    background-color: transparent;
    border: none;
    color: rgb(204 79 100);
    text-decoration: underline;

    &:hover {
      color: rgb(153, 86, 97);
    }
  }

  .navigation {
    display: inline-flex;
    justify-content: space-between;
  }

  label {
    color: rgb(204 79 100);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
  }

  input {
    padding: 6px;
    border: 2px solid rgb(128, 98, 103);
    color: rgb(128, 98, 103);
    border-radius: 10px;
    box-shadow: none;
    background-color: rgb(246, 235, 237);

    &:focus {
      border: 2px solid rgb(128, 98, 103);
      background-color: rgb(241, 221, 230);
      outline: 1px solid rgb(128, 98, 103);
    }
  }
}
