.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  width: calc(100% - 20px);
  margin: 0 auto;
}

@media (max-width: 1020px) {
  .container {
    width: 100%;
    gap: 1rem;
  }
}
