.container {
  padding: 20px;
  aspect-ratio: 3/4;
  width: 100%;
  max-height: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  position: relative;
  overflow: hidden;

  &:focus-visible {
    outline: 3px solid rgb(204 79 100);
    outline-offset: 2px;
    border-radius: 2px;
  }
}
